<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="cari">

    </header>
    <div class="btns">
        <a class="btn btn1" href="#">comprar</a>
        <input type="hidden" value="17.99">
    </div>
    <div class="btns">
        <a class="btn btn2" href="#">comprar</a>
        <input type="hidden" value="22.99">
    </div>
    <div class="btns">
        <a class="btn btn3" href="#">comprar</a>
        <input type="hidden" value="26.99">
    </div>


    
</body>
</html>