<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="cari">

    </header>
    <div class="btns">
        <a class="btn btn1" href="#">comprar</a>
        <input type="hidden" value="17.99">
    </div>
    <div class="btns">
        <a class="btn btn2" href="#">comprar</a>
        <input type="hidden" value="22.99">
    </div>
    <div class="btns">
        <a class="btn btn3" href="#">comprar</a>
        <input type="hidden" value="26.99">
    </div>


    <div class="container">
        <div class="produto-h">
            <h5 class="titulo">Produto</h5>
            <h5 class="preco">preço</h5>
            <h5 class="quantidade">quantidade</h5>
            <h5 class="total">total</h5>
        </div>

        <div class="produtos">

        </div>
        <div class="cupom">
            <h3>insira seu cupom</h3>
            <input type="text">
        </div>
        <div class="cupom">
            <h3>Calcular frete:</h3>
            <input type="text">
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>