* {
    margin: 0;
    padding: 0;
}

.Main{
    width: 100%;
}

.ContainerText{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Lulo Clean W01 One Bold";
}

.ContainerText h2{
    margin-left: 150px;
}

.text h3{
    font-size: 15px;
}

.textGray{
    color: gray;
}

.botton{
    margin-left: 100px;
    margin-top: 160px;
}

