:root {
  --main-color-01: rgb(127, 205, 205);
  --main-color-text: #4b4b4b;
  --title-color: rgb(42, 42, 42);
  --secundary-color: #e2583e;
  --color-text-white: white;
  --border-color: rgb(82, 82, 82);
}

Nav {
    min-height: 100px;
  height: 100%;
}
