:root {
    --main-color-01: rgb(127, 205, 205);
    --main-color-text: #4B4B4B;
    --title-color: rgb(42, 42, 42);
    --secundary-color: #e2583e;
    --color-text-white: white;
    --border-color: rgb(82, 82, 82);
}

@font-face {
    font-family: "Lulo Clean W01 One Bold";
    src: url(../../assets/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf)
}

@font-face {
    font-family: 'Questrial';
    src: url(../../assets/fonts/Questrial-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
}

.mainBanner {
    height: 650px;
    display: flex;
    padding-left: 15em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-text-white);
    font-family: "Lulo Clean W01 One Bold";
    background-image: url("../../assets/img/bannerMain.png");
    background-attachment: fixed;
}

.mainBanner h1 {
    width: 60%;
    font-size: 50px;
    margin-top: -4em;
}

.btnMainBanner {
    width: 240px;
    height: 20px;
    margin: 1em 6em 4em 0;
    font-size: .95em;
    padding: 10px;
    color: var(--color-text-white);
    background-color: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid 3px var(--secundary-color);
    font-family: "Lulo Clean W01 One Bold";
    text-decoration: none;
}

.btnMainBanner:hover {
    background: rgba(226, 88, 62, 0.1);
    border: solid 3px var(--secundary-color);
    transition: 0.6s;
}

.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--title-color);
    font-family: 'Lulo Clean W01 One Bold';
}

.summary h2 {
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 400;
}

.summary h3 {
    color: var(--main-color-01);
    font-size: 1em;
    font-weight: 400;
    width: 200px;
}

.imgTextSummary {
    height: 140px;
    color: #4a4a4a;
    margin-top: .5em;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

.imgTextSummary2 {
    height: 140px;
    color: var(--secundary-color);
    margin-top: .5em;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

.imgTextSummary3 {
    height: 140px;
    color: #7ecccc;
    margin-top: .5em;
    margin-bottom: .14em;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

.textSummary {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textSummary div p {
    width: 200px;
    margin-top: .9em;
    font-family: 'Questrial';
    text-align: center;
}

.summaryCards {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.buy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy h2 {
    color: var(--title-color);
    font-family: 'Lulo Clean W01 One Bold';
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 400;
}

.packs {
    max-width: 1100px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.pack1, .pack2, .pack3 {
    width: 290px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2em;
    box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.3);
}

.pack1 h3, .pack2 h3, .pack3 h3 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secundary-color);
    font-size: 1.4em;
    text-align: center;
    font-family: 'Lulo Clean W01 One Bold';
    background-color: var(--main-color-01);
}

.imgPack1, .imgPack2, .imgPack3 {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-image: url('../../assets/img/pack.png');
}

.imgPack1:hover, .imgPack2:hover, .imgPack3:hover {
    transition: 1s ease-in-out;
    background-size: contain;
    transform: scale(1.1);
}

.packDesc {
    margin-top: 1.3em;
}

.pack1 p, .pack2 p, .pack3 p {
    text-align: center;
    margin-top: .1em;
    color: var(--main-color-text);
    font-family: 'Lulo Clean W01 One Bold';
    font-weight: 200;
    font-size: .7em;
}

.pack1 span, .pack2 span, .pack3 span {
    font-size: 1.2em;
}

.precoPack {
    text-align: center;
    font-family: 'Lulo Clean W01 One Bold';
    color: var(--secundary-color);
    margin: .7em 0;
    font-size: 1.5em;
}

.buyButton {
    font-size: .95em;
    padding: 13px;
    color: var(--color-text-white);
    background-color: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Lulo Clean W01 One Bold";
    text-decoration: none;
}

.buyButton:hover {
    transition: 1s;
    background-color: var(--main-color-01);
}